body {
    font-size: 14px !important
}

.inner-container {
    min-height: 600px;
    overflow: hidden
}

.facts-block .item.ab-cirle-blue {
    background: #33b1e6 !important
}

.facts-block .item.ab-cirle-red {
    background: #e85425 !important
}

.facts-block .item.ab-cirle-green {
    background: #94db40 !important
}

.logo-text {
    font-size: 30px !important;
    font: 400 37px "PT Sans Narrow", Arial, sans-serif
}

.site-logo {
    padding-top: 10px !important
}

.site-logo img {
    max-width: 200px !important;
    max-height: 87px !important;
    position: relative;
    top: -7px;
}

.service-img {
    width: 80px;
    height: 60px
}

.services-block .fa {
    padding: 22px 0 !important
}

.inner-page.header {
    position: relative !important;
    top: 0 !important
}

.header {
    background-color: #33B1E6;
    color: #ffffff;
    box-shadow: 0 1px 4px #33B1EE !important;
    min-height: 90px !important;
}

.header.fixNav {
    background: #33B1E6 !important;
}

.header-navigation {
    padding: 40px 0 0 !important;
}

.header-navigation a {
    color: #ffffff !important;
}

.ec_details_tabs {
    color: #33B1E6 !important
}

.ec_details_tabs, .ec_details_content {
    border-top: 1px solid #E85425 !important
}

.ec_details_tab.ec_active {
    border-top-color: #E85425 !important
}

.inner-container h1 {
    color: #E85425 !important
}

.inner-container .ec_cart_button_row > .ec_cart_button, .inner-container .ec_cart_button_row input[type="button"], .inner-container .ec_cart_button_row a {
    background: #33B1E6 !important
}

.inner-container .ec_cartitem_quantity_table > tbody > tr > td > .ec_minus, .inner-container .ec_cartitem_quantity_table > tbody > tr > td > .ec_plus, .inner-container .ec_cartitem_quantity_table > tbody > tr > td > .ec_cartitem_update_button {
    background: #33B1E6 !important
}

.inner-container .ec_cartitem_delete {
    color: #B92B0C !important;
    border-color: #B92B0C !important
}

.inner-container a.ec_cart_empty_button {
    background-color: #33B1E6 !important;
    border: 1px solid #33B1E6 !important
}

.inner-container .ec_cart_success_continue_shopping_button > a {
    background-color: #33B1E6 !important;
    border: 1px solid #33B1E6 !important
}

.inner-container .ec_details_add_to_cart_area > .ec_details_quantity > .ec_minus, .inner-container .ec_details_add_to_cart_area > .ec_details_quantity > .ec_plus, .inner-container .ec_details_add_to_cart_area > .ec_details_add_to_cart > input, .inner-container .ec_details_add_to_cart_area > .ec_details_add_to_cart > a, .inner-container .ec_details_customer_reviews_row > input[type="button"], .inner-container .ec_details_inquiry_popup_main > form > .ec_details_add_to_cart input, .inner-container .ec_details_inquiry_popup_main > form > .ec_details_add_to_cart > a, .inner-container .wpeasycart-html-swatch {
    background-color: #33B1E6 !important;
    border: 1px solid #33B1E6 !important
}

.inner-container .ec_product_type1 .ec_product_addtocart a, .inner-container .ec_product_type1 .ec_product_addtocart a:hover, .inner-container .ec_product_type1 .ec_product_addtocart a:focus {
    background-color: #33B1E6 !important;
    border: 1px solid #33B1E6 !important
}

.inner-container .ec_cart_button_row > .ec_account_button {
    background-color: #33B1E6 !important;
    border: 1px solid #33B1E6 !important
}

.inner-container .ec_product_admin_reorder_button {
    background-color: #E85425 !important;
    border: 1px solid #E85425 !important
}

.inner-container .ec_product_page_sort .ec_product_page_perpage > a {
    color: #33B1E6 !important;
    border: 1px solid #33B1E6 !important
}

.inner-container .ec_product_page_sort .ec_product_page_perpage > a.ec_selected, .inner-container .ec_product_page_sort > .ec_product_page_perpage > a:hover {
    background: #33B1E6 !important;
    border: 1px solid #33B1E6 !important;
    color: #FFF !important
}

.inner-container .ec_cartitem_quantity_table > tbody > tr > td > .ec_days {
    padding: 4px 2px !important;
    font-family: 'Lato', Arial, sans-serif !important;
    font-size: 12px !important;
    float: left;
    width: 90% !important;
    text-align: center;
    margin: 0 5% !important;
    background-color: #FFF;
    border-radius: 0;
    height: inherit;
    -moz-appearance: textfield;
    min-height: inherit;
    border-radius: 5px !important
}

.inner-container .ec_cart_header {
    color: #33B1E6 !important
}

.inner-container .ec_product_added_to_cart {
    color: #3E8E13 !important
}

.inner-container .ec_product_added_to_cart a, .inner-container .ec_cart_checkout_link {
    color: #3E8E13 !important;
    font-weight: 700 !important
}

.inner-container .ec_image_container_none.ec_dynamic_image_height.dynamic_height_rule {
    min-height: 340px !important
}

.inner-container .ec_cart_price_row_label, .inner-container .ec_cart_input_row label {
    color: #78828c !important
}

.inner-container .ec_cart > thead > tr > th {
    color: #33B1E6 !important
}

.inner-container td.ec_account_orderitem_days {
    text-align: center !important
}

.inner-container th.ec_cartitem_head_days {
    width: 15%;
    text-align: center;
    padding: 9px 0 !important
}

.inner-container .ec_account_order_item_buy_button, .inner-container .ec_account_order_item_download_button {
    background-color: #33B1E6 !important
}

.inner-container .ec_account_dashboard_row_divider a, .inner-container .ec_account_order_line_column5 a, .inner-container .ec_account_complete_payment_button {
    background-color: #33B1E6 !important
}

.inner-container .ec_cart_input_row > a, .inner-container .ec_cart_input_row > b, .inner-container .ec_cart_input_row > strong, .inner-container .ec_account_order_details_item_display_title > a {
    color: #E85425 !important
}

.inner-container .ec_account_order_details_table > thead > tr > th {
    color: #33B1E6 !important
}

.inner-container .ec_account_order_item_details > span.ec_account_order_item_title {
    color: #E85425 !important
}

.inner-container .ec_cart_button_row > .ec_account_button {
    padding: 6px 30px !important
}

.inner-container .ec_product_type1 {
    border: 1px solid #94DB40 !important
}

.inner-container .ec_product_type1 .ec_product_addtocart_container {
    background-color: initial !important;
    width: 99%
}

.inner-container .ec_product_title_type1 {
    border-top: 1px solid #94DB40 !important
}

.inner-container .ec_product_image_display_type.ec_single_fade_container.ec_dynamic_image_height.dynamic_height_rule {
    max-width: 335px !important
}

.inner-container .page-404 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 125px
}

.inner-container.content-page {
    padding: 0 0 20px
}

.content-page {
    background: #fff;
    padding: 20px;
    margin-right: 10px
}

.page-404 .number, .page-500 .number {
    color: #E02222
}

.page-404 .number {
    position: relative;
    top: 35px;
    display: inline-block;
    letter-spacing: -10px;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 128px;
    font-size: 128px;
    font-weight: 300;
    color: #E02222;
    text-align: right
}

.page-404 .details {
    margin-left: 40px;
    display: inline-block;
    padding-top: 0;
    text-align: left;
    top: 15px;
    position: relative
}

.inner-container .page-500 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px
}

.inner-container .content-page {
    padding: 0 0 20px
}

#maps {
    width: 100%;
    height: 500px
}

.black-bg {
    background-color: #2d3441
}

.offset-top {
    margin-top: -100px
}

.wpcf7-response-output {
    max-width: 320px !important
}

.wpcf7-submit.btn.btn-link {
    background-color: #E85425;
    color: #FFF !important
}

.wpcf7-mail-sent-ok {
    color: green !important
}

.wpcf7-validation-errors {
    color: red !important
}