/* Medium Layout: 1280px. */

@media only screen and  (max-width: 1024px) {
    .inner-page.header.header-mobi-ext {
        position: relative !important;
        top: 0 !important;
        z-index: 99999;
    }
}
